{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Les sorties{% endblock %}

{% block body %}

    <div class="container-fluid pt-3">

        <div class="row">
            <div class="col">
                <h3>Liste des sorties</h3>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col text-right">
                <p><strong>Date du jour : </strong><span id="date_span"></span> <span class="clock" id="heure_span"></span></p>
                <p><strong>Participant : </strong> <span id="orga_full_name">{{ app.user.prenom }} {{ app.user.nom }}</span></p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h5>Filter les sorties</h5>
            </div>
        </div>



        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 mt-2">
                <div class="input-group mt-2">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroup_site">Ville</label>
                    </div>
                    <select class="custom-select" id="inputGroup_site">
                        <option selected>Toutes les villes</option>
                        {% for ville in villes %}
                            <option attr-id={{ville.id}} value="{{ville.nom}}" >{{ville.nom}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-group mt-2">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroup_nom">Nom de la sortie</label>
                    </div>
                    <input class="form-control" id="inputGroup_nom" type="text">
                </div>
                <div class="input-group mt-2">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Dates :</label>
                    </div>
                    <input class="form-control" type="date" id="inputGroup_dateDebut">
                    <input class="form-control" type="date" id="inputGroup_dateFin">
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mt-2">
                <div class="form-check mt-2">
                    <input class="form-check-input" type="checkbox" value="" id="checkbox_jeSuisOrga">
                    <label class="form-check-label" for="checkbox_jeSuisOrga">
                        Sorties dont je suis l'organisateur.rice
                    </label>
                </div>
                <div class="form-check mt-2">
                    <input class="form-check-input" type="checkbox" id="checkbox_jeSuisInsc">
                    <label class="form-check-label" for="checkbox_jeSuisInsc">
                        Sorties auxquelles je suis inscrit.e
                    </label>
                </div>
                <div class="form-check mt-2">
                    <input class="form-check-input" type="checkbox" value="" id="checkbox_jeSuisPasInsc">
                    <label class="form-check-label" for="checkbox_jeSuisPasInsc">
                        Sorties auxquelles je ne suis pas inscrit.e
                    </label>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mt-2">
                <a class="btn btn-lg btn-success mt-3" href="{{ path('sortie_create') }}">Ajouter une sortie</a>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>Nom</th>
                        <th>Date sortie</th>
                        <th>Ville</th>
                        <th>Nb places</th>
                        <th class="text-center">Inscrit</th>
                        <th>Organisateur</th>
                        <th>Actions</th>
                        <th>Etat</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sortie in sortiesCreees %}
                        <tr>
                            <td>{{ sortie.nom }}</td>
                            <td>{{ sortie.dateHeureDebut | date('d/m/Y H:i') }}</td>
                            <td>{{ sortie.lieu.ville.nom }}</td>
                            <td>{{ sortie.nbInscrits }} / {{ sortie.nbInscriptionMax }}</td>
                            <td></td>
                            <td><a href="{{ path('profil_detail',{'id':sortie.organisateur.id}) }}">{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom }}</a></td>
                            <td>

                                <a href="{{ path('sortie_detail',{'id':sortie.id}) }}">Afficher</a>

                                <a href="{{ path('sortie_publier', {'id':sortie.id}) }}">- Publier</a>

                                {% if sortie.organisateur.id == app.user.id %}
                                    <a href="{{ path('sortie_edit', {'id':sortie.id}) }}"> - Modifier</a>
                                    <form class="form-inline-delete" method="POST" action="{{ path("sortie_delete", {'id' : sortie.id }) }}" onsubmit="return confirm('Confirmation de la suppression ?');">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete'~sortie.id) }}">
                                        <button class="faux-lien" type="submit">- Supprimer</button>
                                    </form>
                                {% endif %}

                            </td>
                            <td><b>{{ sortie.etat.libelle }}</b></td>
                        </tr>
                    {% endfor %}
                    {% for sortie in sortiesPubliees %}

                        {% set jeSuisInscrit = false %}
                        {% for rejoindre in rejoindres if not jeSuisInscrit %}
                            {% if rejoindre.saSortie.id == sortie.id %}
                                {% set jeSuisInscrit = true %}
                            {% endif %}
                        {% endfor %}

                        <tr>
                            <td>{{ sortie.nom }}</td>
                            <td>{{ sortie.dateHeureDebut | date('d/m/Y H:i') }}</td>
                            <td>{{ sortie.lieu.ville.nom }}</td>
                            <td>{{ sortie.nbInscrits }} / {{ sortie.nbInscriptionMax }}</td>
                            <td class="text-center">
                                {% if jeSuisInscrit %}
                                    <input type="hidden" class="inscrit"  value="1">
                                    ✅
                                {% endif %}
                                <input type="hidden" class="inscrit"  value="0">
                            </td>
                            <td><a href="{{ path('profil_detail',{'id':sortie.organisateur.id}) }}">{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom }}</a></td>
                            <td>

                                <a href="{{ path('sortie_detail',{'id':sortie.id}) }}">Afficher</a>


                                <input type="hidden" name="isJeSuisInscrit" value="{{ jeSuisInscrit }}">
                                {% if jeSuisInscrit %}
                                    <a href="{{ path('desister_sortie',{'id':sortie.id}) }}"> - Se désister</a>
                                {% else %}
                                    <a href="{{ path('rejoindre_sortie',{'id':sortie.id}) }}"> - S'inscrire</a>
                                {% endif %}
                                {% if sortie.organisateur.id == app.user.id %}
{#                                    <form class="form-inline-delete" method="POST" action="{{ path("sortie_annuler", {'id' : sortie.id }) }}" onsubmit="return confirm('Confirmation de l\'annulation ?');">#}
{#                                        <input type="hidden" name="_method" value="DELETE">#}
{#                                        <input type="hidden" name="_token" value="{{ csrf_token('delete'~sortie.id) }}">#}
{#                                        <button class="faux-lien" type="submit">- Annuler</button>#}
{#                                    </form>#}

                                    <a href="{{ path('sortie_annuler',{'id':sortie.id}) }}"> - Annuler</a>
                                {% endif %}


                            </td>
                            <td class="text-primary"><b>{{ sortie.etat.libelle }}</b></td>
                        </tr>
                    {% endfor %}
                    {% for sortie in sortiesCloturees %}

                        {% set jeSuisInscrit = false %}
                        {% for rejoindre in rejoindres if not jeSuisInscrit %}
                            {% if rejoindre.saSortie.id == sortie.id %}
                                {% set jeSuisInscrit = true %}
                            {% endif %}
                        {% endfor %}

                        <tr>
                            <td>{{ sortie.nom }}</td>
                            <td>{{ sortie.dateHeureDebut | date('d/m/Y H:i') }}</td>
                            <td>{{ sortie.lieu.ville.nom }}</td>
                            <td>{{ sortie.nbInscrits }} / {{ sortie.nbInscriptionMax }}</td>
                            <td class="text-center">
                                {% if jeSuisInscrit %}
                                    <input type="hidden" class="inscrit"  value="1">
                                    ✅
                                {% endif %}
                                <input type="hidden" class="inscrit"  value="0">
                            </td>
                            <td><a href="{{ path('profil_detail',{'id':sortie.organisateur.id}) }}">{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom }}</a></td>
                            <td>

                                <a href="{{ path('sortie_detail',{'id':sortie.id}) }}">Afficher</a>

                                <input type="hidden" name="isJeSuisInscrit" value="{{ jeSuisInscrit }}">
                                {% if jeSuisInscrit %}
                                    <a href="{{ path('desister_sortie',{'id':sortie.id}) }}"> - Se désister</a>
                                {% endif %}

                            </td>
                            <td class="text-warning"><b>{{ sortie.etat.libelle }}</b></td>
                        </tr>
                    {% endfor %}
                    {% for sortie in sortiesEncours %}

                        {% set jeSuisInscrit = false %}
                        {% for rejoindre in rejoindres if not jeSuisInscrit %}
                            {% if rejoindre.saSortie.id == sortie.id %}
                                {% set jeSuisInscrit = true %}
                            {% endif %}
                        {% endfor %}

                        <tr>
                            <td>{{ sortie.nom }}</td>
                            <td>{{ sortie.dateHeureDebut | date('d/m/Y H:i') }}</td>
                            <td>{{ sortie.lieu.ville.nom }}</td>
                            <td>{{ sortie.nbInscrits }} / {{ sortie.nbInscriptionMax }}</td>
                            <td class="text-center">
                                {% if jeSuisInscrit %}
                                    <input type="hidden" class="inscrit"  value="1">
                                    ✅
                                {% endif %}
                                <input type="hidden" class="inscrit"  value="0">
                            </td>
                            <td><a href="{{ path('profil_detail',{'id':sortie.organisateur.id}) }}">{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom }}</a></td>
                            <td>

                                <a href="{{ path('sortie_detail',{'id':sortie.id}) }}">Afficher</a>

                            </td>
                            <td class="text-info"><b>{{ sortie.etat.libelle }}</b></td>
                        </tr>
                    {% endfor %}
                    {% for sortie in sortiesTerminee %}

                        {% set jeSuisInscrit = false %}
                        {% for rejoindre in rejoindres if not jeSuisInscrit %}
                            {% if rejoindre.saSortie.id == sortie.id %}
                                {% set jeSuisInscrit = true %}
                            {% endif %}
                        {% endfor %}

                        <tr>
                            <td>{{ sortie.nom }}</td>
                            <td>{{ sortie.dateHeureDebut | date('d/m/Y h:i') }}</td>
                            <td>{{ sortie.lieu.ville.nom }}</td>
                            <td>{{ sortie.nbInscrits }} / {{ sortie.nbInscriptionMax }}</td>
                            <td class="text-center">
                                {% if jeSuisInscrit %}
                                    <input type="hidden" class="inscrit"  value="1">
                                    ✅
                                {% endif %}
                                <input type="hidden" class="inscrit"  value="0">
                            </td>
                            <td><a href="{{ path('profil_detail',{'id':sortie.organisateur.id}) }}">{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom }}</a></td>
                            <td>
                                <a href="{{ path('sortie_detail',{'id':sortie.id}) }}">Afficher</a>
                            </td>
                            <td class="text-success"><b>{{ sortie.etat.libelle }}</b></td>
                        </tr>
                    {% endfor %}
                    {% for sortie in sortiesAnnulees %}

                        {% set jeSuisInscrit = false %}
                        {% for rejoindre in rejoindres if not jeSuisInscrit %}
                            {% if rejoindre.saSortie.id == sortie.id %}
                                {% set jeSuisInscrit = true %}
                            {% endif %}
                        {% endfor %}

                        <tr>
                            <td>{{ sortie.nom }}</td>
                            <td>{{ sortie.dateHeureDebut | date('d/m/Y H:i') }}</td>
                            <td>{{ sortie.lieu.ville.nom }}</td>
                            <td>{{ sortie.nbInscrits }} / {{ sortie.nbInscriptionMax }}</td>
                            <td class="text-center">
                                {% if jeSuisInscrit %}
                                    <input type="hidden" class="inscrit"  value="1">
                                    ✅
                                {% endif %}
                                <input type="hidden" class="inscrit"  value="0">
                            </td>
                            <td><a href="{{ path('profil_detail',{'id':sortie.organisateur.id}) }}">{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom }}</a></td>
                            <td>

                                <a href="{{ path('sortie_detail',{'id':sortie.id}) }}">Afficher</a>

                            </td>
                            <td class="text-danger"><b>{{ sortie.etat.libelle }}</b></td>
                        </tr>
                    {% endfor %}

                    {% if is_granted('ROLE_ADMIN') %}
                        {% for sortie in sortiesArchivees %}

                            {% set jeSuisInscrit = false %}
                            {% for rejoindre in rejoindres if not jeSuisInscrit %}
                                {% if rejoindre.saSortie.id == sortie.id %}
                                    {% set jeSuisInscrit = true %}
                                {% endif %}
                            {% endfor %}

                            <tr class="table-secondary">
                                <td>{{ sortie.nom }}</td>
                                <td>{{ sortie.dateHeureDebut | date('d/m/Y h:i') }}</td>
                                <td>{{ sortie.lieu.ville.nom }}</td>
                                <td>{{ sortie.nbInscrits }} / {{ sortie.nbInscriptionMax }}</td>
                                <td class="text-center">
                                    {% if jeSuisInscrit %}
                                        <input type="hidden" class="inscrit"  value="1">
                                        ✅
                                    {% endif %}
                                    <input type="hidden" class="inscrit"  value="0">
                                </td>
                                <td><a href="{{ path('profil_detail',{'id':sortie.organisateur.id}) }}">{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom }}</a></td>
                                <td>
                                    <a href="{{ path('sortie_detail',{'id':sortie.id}) }}">Afficher</a>
                                </td>
                                <td>{{ sortie.etat.libelle }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}


                    </tbody>
                </table>
            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    <script rel="script/javascript" src="{{ asset('js/filtres.js') }}"></script>
{% endblock %}
