<div class="nav navbar shadow navbar-dark bg-dark text-light sticky-top">
    <div>
        <a class="navbar-brand pr-3" href="{{ path('accueil') }}"><b>Sortir.com</b></a>
        {% if is_granted('ROLE_USER') %}
            <a class="nav-item text-light" href="{{ path('liste_sorties') }}">Les sorties</a>
        {% endif %}
    </div>
    <div>
        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-secondary" href="{{ path('admin') }}">Admin</a>
        {% endif %}
        {% if is_granted('ROLE_USER') %}
            <a class="btn btn-info" href="{{ path('profil_detail', {'id':app.user.id}) }}">Mon Profil</a>
            <a class="btn btn-danger" href="{{ path('app_logout') }}">Déconnexion</a>
        {% else %}
            <a class="btn btn-primary" href="{{ path('app_login') }}">Connexion</a>
        {% endif %}
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show mt-3">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>