<html lang="fr">
<head></head>
<body>
<h3>Mot de Passe oublié : </h3>
<p>Bonjour {{ utilisateur.nom }} {{ utilisateur.prenom }} ,<br> </p>
<p>Voici, un lien ci-dessous pour vous permettre de changer votre mot de passe.
<p>
    Lien pour modifier son mot de passe : http://localhost:8000/sortir-com/public/{{ utilisateur.id }}/mdp_oublie_changer/?token={{ utilisateur.token}}
</p>
<p>
    <a href="http://localhost:8000/sortir-com/public/{{ utilisateur.id }}/mdp_oublie_changer/?token={{ utilisateur.token}}">Lien pour modifier son mot de passe</a>
</p>
</body>
</html>