{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Ajouter un utilisateur{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col">
                <h3>Ajouter un utilisateur</h3>
                <hr>
            </div>
        </div>
        {{ form_start(formAddUser) }}
        <div class="row justify-content-center">
            <div class="col-12 col-lg-4">
                {{ form_row(formAddUser.nom) }}
            </div>
            <div class="col-12 col-lg-4">
                {{ form_row(formAddUser.prenom) }}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-4">
                {{ form_row(formAddUser.mail) }}
            </div>
            <div class="col-12 col-lg-4">
                {{ form_row(formAddUser.telephone) }}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-4">
                {{ form_row(formAddUser.site) }}
            </div>
            <div class="col-12 col-lg-4">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 text-center">
                <button class="btn btn-success" type="submit">Ajouter un utilisateur</button>
            </div>
        </div>
        {{ form_end(formAddUser) }}
    </div>



{% endblock %}
