{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Administration{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row mt-3">
        <div class="col">
            <h3>Administration</h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-utilisateurs-tab" data-toggle="pill" href="#v-pills-utilisateurs">Utilisateurs</a>
                <a class="nav-link" id="v-pills-villes-tab" data-toggle="pill" href="#v-pills-villes">Villes</a>
                <a class="nav-link" id="v-pills-sites-tab" data-toggle="pill" href="#v-pills-sites">Sites</a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-utilisateurs">
                    <a class="btn btn-success" href="{{ path('admin_addUser') }}">Ajouter un utilisateur</a>
                    <br>
                    <br>
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>Prénom Nom</th>
                                <th>Mail</th>
                                <th>Téléphone</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for utilisateur in utilisateurs %}
                                <tr>
                                    <td>{{ utilisateur.prenom }} {{ utilisateur.nom }}</td>
                                    <td>{{ utilisateur.mail }}</td>
                                    <td>{{ utilisateur.telephone }}</td>
                                    <td>
                                        <a href="{{ path('utilisateur_desactiver', {'id':utilisateur.id}) }}">Désactiver</a>
                                        
                                        <a href="{{ path('utilisateur_delete', {'id':utilisateur.id}) }}" onsubmit="return confirm('Confirmation de la suppression ?');">- Supprimer</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="v-pills-villes">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th>Nom</th>
                            <th>Code postal</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ville in villes %}
                            <tr>
                                <td>{{ ville.nom }}</td>
                                <td>{{ ville.codePostal }}</td>
                                <td>
                                    <a href="">Modifier</a>
                                    <a href="">- Supprimer</a>
                                </td>
                            </tr>
                        {% endfor %}
                            <tr>
                                <td>Formulaire pour ajouter</td>
                                <td>une ville</td>
                                <td>
                                    <a href="">Ajouter</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="v-pills-sites">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th>Nom</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for site in sites %}
                            <tr>
                                <td>{{ site.nom }}</td>
                                <td>
                                    <a href="">Modifier</a>
                                    <a href="">- Supprimer</a>
                                </td>
                            </tr>
                        {% endfor %}
                            <tr>
                                <td>Formulaire pour ajouter un site</td>
                                <td>
                                    <a href="">Ajouter</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
